[submodule "lisdf"]
	path = lisdf
	url = https://github.com/Learning-and-Intelligent-Systems/lisdf
[submodule "pybullet_planning"]
	path = pybullet_planning
	url = git@github.com:UM-ARM-Lab/pybullet_planning.git
[submodule "assets/models"]
	path = assets/models
	url = git@github.com:zt-yang/kitchen-models.git
[submodule "pddlstream"]
	path = pddlstream
	url = git@github.com:UM-ARM-Lab/pddlstream.git
